<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>{{ 'scenariopage.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding display="block">
  <br>
  <ion-label color="dark">{{ 'scenariopage.label1' | translate }}</ion-label>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('CLIMATE')">{{ 'scenariopage.button1' | translate }}</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('LANDUSE')">{{ 'scenariopage.button2' | translate }}</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('DEFORESTATION')">{{ 'scenariopage.button3' | translate }}</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('TROPIC')">{{ 'scenariopage.button4' | translate }}</ion-button>
  <br>
  <ion-button size="medium" fill="outline" (click)="setScenario('EXTINCTIONS')">{{ 'scenariopage.button5' | translate }}</ion-button>
  <br>
</ion-content>
