<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Biosphere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="header">Our Mission</p>
  <div><p id="misson">Inform the public, scientists, and professionals about the human impact on the biodiversity of
    Earth’s ecosystems </p></div>
  <p class="header">Background</p>
  <div><p id="background">Biosphere was created in August 2020. It was formed as a result of the CS Capstone
    sequence at Northern Arizona University (NAU). We were tasked with creating an app that could display the complex
    data that comes from the Madingley Model. In future iterations of this application, we hope to add support for more
    languages and to include more scenario options</p>
  </div>
  <p class="header">The Team</p>

  <ion-card>
      <div id="image1">
      <img src="/assets/teamphotos/kainoa.PNG" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
        <ion-card-title>Kainoa Boyce</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      Kainoa graduated from NAU in April 2021 with a Bachelor of Science in Applied Computer Science. Kainoa's
      professional experiences include cloud systems engineering, machine learning, and website designing.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image2">
    <img src="/assets/teamphotos/mckenna.PNG" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>McKenna Chun</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      In April 2021, McKenna received his Bachelor of Science in Computer Science. For this application, he focused on
      the translation aspects, connecting the frontend with the backend, and the data visualization seen on the results
      page.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image3">
    <img src="/assets/teamphotos/greg.PNG" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>Gregory Geary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Greg earned his Bachelor of Science in Computer Science. Greg has professional experience with both front and
      backend web development. He currently works for W.L. Gore. For this application, he focused his work on the API
      Gateway.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image4">
    <img src="/assets/teamphotos/wesley.PNG" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>Wesley Smythe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wesley graduated in April 2021 with a Bachelor of Science in Computer Science and a Bachelor of Science in
      Biology. For this app, he focused on the frontend (Google Maps components).
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image5">
    <img src="/assets/teamphotos/doughty.PNG" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.sponsor' | translate }}</ion-card-subtitle>
      <ion-card-title>Christopher Doughty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Since 2016, Dr. Doughty has been an assistant professor at NAU. He is also one of the lead researchers at the
      Megabiota Lab; where they study how climate change impacts tropical forests.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image6">
    <img src="/assets/icon/LOGO.png" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.assistant' | translate }}</ion-card-subtitle>
      <ion-card-title>Camille Gaillard</ion-card-title>
    </ion-card-header>
    <ion-card-content id="camille">
      Camille is a postdoctoral researcher working with NASA on the biodiversity project. His research questions involve
      traits, trade-offs and key mechanisms. His aim is to produce relevant science, from an academic perspective, as
      well as, for society.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div id="image7">
    <img src="/assets/teamphotos/Roo.jpeg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.supervisor' | translate }}</ion-card-subtitle>
      <ion-card-title>Andrew Abraham</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Andrew completed his master's degree at Oxford University and in 2021 he finished his PhD at NAU. He studied the
      role of animals on nutrient distribution using the Madingley Model.
    </ion-card-content>
  </ion-card>

  <p class="header">Affiliates</p>

  <ion-card class="fund">
    <div id="image8">
      <img src="/assets/icon/NAU.png" />
    </div>
  </ion-card>

  <ion-card class="fund">
  <div id="image9">
    <img src="/assets/icon/nasa-logo.png" />
  </div>
  </ion-card>

  <ion-card class="fund">
    <div id="image10">
      <img src="/assets/icon/MegabiotaLab.png" />
    </div>
  </ion-card>
  <ion-card class="fund">
    <div id="image11">
      <img src="/assets/icon/UNimage1.png" />
    </div>
  </ion-card>

</ion-content>
