<ion-header>
  <ion-toolbar>
    <ion-title>About Biosphere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h2>{{ 'contactpage.paragraph1' | translate }}</h2>
    <ion-card>
      <img src="/assets/icon/LOGO.png" />
      <ion-card-header>
        <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
        <ion-card-title>Kainoa Boyce</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Info about Kainoa
      </ion-card-content>
    </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>McKenna Chun</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about McKenna
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>Gregory Geary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about Greg
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.developer' | translate }}</ion-card-subtitle>
      <ion-card-title>Wesley Smythe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about Wesley
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.sponsor' | translate }}</ion-card-subtitle>
      <ion-card-title>Dr. Doughty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about Dr. Doughty
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.assistant' | translate }}</ion-card-subtitle>
      <ion-card-title>Camille Gaillard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about Camille
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/icon/LOGO.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ 'contactpage.supervisor' | translate }}</ion-card-subtitle>
      <ion-card-title>Andrew John Abraham</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Info about Roo
    </ion-card-content>
  </ion-card>


  <p>{{ 'contactpage.paragraph2' | translate }}</p>
  <ul>
    <li>Capstone</li>
    <li>Megabiota Lab</li>
    <li>Northern Arizona University</li>
  </ul>

</ion-content>
