<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'userpage.IAM' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button size="large" fill="outline" (click)="setUser('general')">
    {{ 'userpage.button1' | translate }}
  </ion-button>
  <ion-button size="large" fill="outline" (click)="setUser('policy')">
    {{ 'userpage.button2' | translate }}
  </ion-button>
  <ion-button size="large" fill="outline" (click)="setUser('scientist')">
    {{ 'userpage.button3' | translate }}
  </ion-button>
</ion-content>