<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'userpage.IAM' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-note padding>Some buttons may be disabled due to lack of data.</ion-note>
  <br>
  <ion-button [disabled]="disableGeneral" size="large" fill="outline" class="button" (click)="setUser('public')">
    {{ 'userpage.button1' | translate }}
  </ion-button>
  <ion-button [disabled]="disablePolicy" size="large" fill="outline" class="button" (click)="setUser('policy_maker')">
    {{ 'userpage.button2' | translate }}
  </ion-button>
  <ion-button [disabled]="disableScientist" size="large" fill="outline" class="button" (click)="setUser('scientist')">
    {{ 'userpage.button3' | translate }}
  </ion-button>
</ion-content>
