<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'aboutpage.header1' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 

  
  *********************Add All Simulation Info Here********************


-->
  <div class = "ion-margin">
    <h1 id=header1>
      {{ 'aboutpage.header1' | translate }}
    </h1>

    <p id="paragraph1.1">
      {{ 'aboutpage.paragraph1.1' | translate }}
    </p>

    <a target="_blank" href="https://geobon.org/ebvs/what-are-ebvs/">https://geobon.org/ebvs/what-are-ebvs/</a>

    <br>

    <br>

    <a target="_blank" href="https://en.wikipedia.org/wiki/Essential_Biodiversity_Variables">https://en.wikipedia.org/wiki/Essential_Biodiversity_Variables</a>

    <br>

    <br>

    <p id="paragraph1.2">
      {{ 'aboutpage.paragraph1.2' | translate }}
    </p>

    <a target="_blank" href="https://madingley.github.io/">https://madingley.github.io/</a>

    <br>
    
    <br>

    <p id="paragraph2">
      {{ 'aboutpage.paragraph2' | translate }}
    </p>
    
    <br>

    <h3 id=header2>
      {{ 'aboutpage.header2' | translate }}
    </h3>

    <p id="paragraph3">
      {{ 'aboutpage.paragraph3' | translate }}
    </p>

    <a target="_blank" href="https://www.ipcc-data.org/guidelines/pages/glossary/glossary_r.html">https://www.ipcc-data.org/guidelines/pages/glossary/glossary_r.html</a>
    <br>
    <br>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Representative_Concentration_Pathway">https://en.wikipedia.org/wiki/Representative_Concentration_Pathway</a>
    
    <br>
    <br>

    <h3 id=header3>
      {{ 'aboutpage.header3' | translate }}
    </h3>

    <p id="paragraph4">
      {{ 'aboutpage.paragraph4' | translate }}
    </p>

    <a target="_blank" href="https://www.ipcc-data.org/guidelines/pages/glossary/glossary_s.html">https://www.ipcc-data.org/guidelines/pages/glossary/glossary_s.html</a>
    <br>
    <br>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Shared_Socioeconomic_Pathways#:~:text=Shared%20Socioeconomic%20Pathways%20(SSPs)%20are,scenarios%20with%20different%20climate%20policies">https://en.wikipedia.org/wiki/Shared_Socioeconomic_Pathways</a>
    
    <br>
    <br>

    <h3 id=header4>
      {{ 'aboutpage.header4' | translate }}
    </h3>

    <p id="paragraph5">
      {{ 'aboutpage.paragraph5' | translate }}
    </p>
    
    <br>

    <h3 id=header5>
      {{ 'aboutpage.header5' | translate }}
    </h3>

    <p id="paragraph6">
      {{ 'aboutpage.paragraph6' | translate }}
    </p>
    
    <br>

    <h3 id=header6>
      {{ 'aboutpage.header6' | translate }}
    </h3>

    <p id="paragraph7">
      {{ 'aboutpage.paragraph7' | translate }}
    </p>

  </div>
</ion-content>
