<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 

  
  *********************Add All Simulation Info Here********************


-->
  <div class = "ion-margin">
    <h1 id="header">
      Team Biosphere
    </h1>
    <img id="logo" src='/assets/icon/LOGO.png'/>

    <h1 id=aboutHeader1>
      {{ 'aboutpage.aboutHeader1' | translate }}
    </h1>

    <p id="aboutParagraph1">
      {{ 'aboutpage.aboutParagraph1' | translate }}
    </p>

  </div>
</ion-content>
