<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "ion-margin">
    <h2>{{ 'contactpage.paragraph1' | translate }}</h2>
    <br>
    <img id="logo" src='/assets/icon/LOGO.png'/>
    <br>
    
    <p>{{ 'contactpage.developer' | translate }}</p>
    <ul>
      <li>Kainoa Boyce</li>
      <li>McKenna Chun</li>
      <li>Gregory Geary</li>
      <li>Wesley Smythe</li>
    </ul>
    
    <br>

    <p>{{ 'contactpage.sponsor' | translate }}</p>
    <ul>
      <li>Christopher Doughty</li>
    </ul>

    <br>

    <p>{{ 'contactpage.assistant' | translate }}</p>
    <ul>
      <li>Camille Gaillard</li>
    </ul>

    <br>
    
    <p>{{ 'contactpage.supervisor' | translate }}</p>
    <ul>
      <li>Andrew John Abraham</li>
    </ul>

    <br>
    
    <p>{{ 'contactpage.paragraph2' | translate }}</p>
    <ul>
      <li>Capstone</li>
      <li>Megabiota Lab</li>
      <li>Northern Arizona University</li>
    </ul>
  </div>
  
</ion-content>
