.submit
{
  background-color: #3880ff;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 3%;
  padding-left: 3%;
  color: #ffffff;
  font-weight: bold;
}
#title
{
  color: #008000;
  font-size: 300%;
  font-weight: bold;
}
#location
{
  color: #3171e0;
}
#information
{
  text-align: center;
  max-width: 70%;
}

