#title
{
  color: #008000;
  font-size: 300%;
  font-weight: bold;
}
#location
{
  color: #3171e0;
}
#information
{
  text-align: center;
  max-width: 70%;
}
iframe
{
  background-color: #3dc2ff;
  width: 95%;
  height: 1000px;
  margin-left:0%;
  margin-right:0%;
}
