<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <img id="logo" src='/assets/icon/TeamBanner.jpg'/>
    <br>
    <ion-grid>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeB5X0KJ2AmNvu1eRL5FvnrgdqoFqiLp70qOfqWkCH1yKoChw/viewform?embedded=true"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      <ion-row>
        <ion-col>
          <img id="flagstaff" src="/assets/icon/FlagstaffMap.png">
        </ion-col>
        <ion-col id="information">
          <p id="title">Biosphere</p>
          <br>
          <h4 id="location">Location</h4>
          <br>
          <div>Northern Arizona University</div>
          <div>Flagstaff, Arizona</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  
</ion-content>



